body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    margin: 0;
}

.head {
    background-color: #32424A;
    padding: 50px 0;
    color: white;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

.text {
    width: 60%;
}

h1 {
    font-size: 3rem;
}

.text p {
    margin-bottom: 3em;
}

.button {
    display: inline-block;
    background-color: #38CFD9;
    text-decoration: none;
    text-transform: uppercase;
    color: #32424A;
    font-weight: 700;
    padding: .75em 2em;
    border-radius: 100px;
}